<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{title:"Admin"}) %>
<body class = "adminIndex">
    <%- include('../partials/header') %>
    <main>
        <div class="agregar">
            <a href="/admin/add"><button type="button">AGREGAR PRODUCTO</button></a>
        </div>
        <section class ="articulos">
            <div class="productos-listado">
                <% celulares.forEach(celular => { %>
                    <article>
                        <img src="/images/equipos/<%= celular.imagenFrente %>" alt="">
                        <p><%= celular.nombreCorto %> </p>
                        <span>$ <%= toThousand(celular.precio) %> </span>
                        <div class="buttons">
                            <a href="/productos/detail/<%= celular.id %> "><button claass = "boton" type="button">Detalles</button></a>
                            <a href="/admin/edit/<%= celular.id %> "><button type="button">Editar</button></a>
                            <a href=""><button type="button">Eliminar</button></a>
                        </div>
                    </article>
                <% }) %>
                
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>

</body>
</html>
