<!DOCTYPE html>
<html>
<%- include('../partials/head',{title:"Agregar Producto"}) %>

    <body class="productAdd">
        <%- include('./partials/header') %>
            <main class="admin-container">
                <div class="container">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="general bloque">
                            <div>
                                <h2 class="centrar-titulos">General</h2>
                            </div>
                            <div class="centrar">
                                <label for="shortName">Nombre Corto</label>
                                <input type="text" name="shortName" id="shortName"
                                    value="<%= locals.old && old.shortName ? old.shortName : null %>">
                                <span class="">
                                    <%= locals.errores && errores.shortName ? errores.shortName.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="longName">Nombre Largo</label>
                                <input type="text" name="longName" id="longName"
                                    value="<%= locals.old && old.longName ? old.longName : null %>">

                            </div>
                            <div class="centrar">
                                <label for="brand">Marca</label>
                                <input type="text" name="brand" id="brand"
                                    value="<%= locals.old && old.brand ? old.brand : null %>">
                                <span class="">
                                    <%= locals.errores && errores.brand ? errores.brand.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="price">Precio</label>
                                <input type="text" name="price" id="price"
                                    value="<%= locals.old && old.price ? old.price : null %>">
                                <span class="">
                                    <%= locals.errores && errores.price ? errores.price.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <h4>Categoría</h4>
                                <select name="category" id="category">
                                    <option value="" selected hidden>Seleccione la categoría</option>
                                    <% categories.forEach(category=> { %>
                                        <option value="<%= category.name %>" <%=locals.old && old.category.name===category.name
                                            ? 'selected' : null %> ><%= category.name %>
                                        </option>
                                        <% }) %>
                                </select>
                                <span class="">
                                    <%= locals.errores && errores.category ? errores.category.msg : null %>
                                </span>
                            </div>

                            <div class="centrar">
                                <h4>Color</h4>
                                <select name="colour" id="colour">
                                    <option value="" selected hidden>Seleccione el color</option>
                                    <% colours.forEach(colour=> { %>
                                        <option value="<%= colour.name %>" <%=locals.old && old.colour.name===colour.name ? 'selected'
                                            : null %> ><%= colour.name %>
                                        </option>
                                        <% }) %>
                                </select>
                                <span class="">
                                    <%= locals.errores && errores.colour ? errores.colour.msg : null %>
                                </span>
                            </div>

                            <div class="centrar">
                                <label for="edge">EDGE</label>
                                <input type="text" name="edge" id="edge"
                                    value="<%= locals.old && old.edge ? old.edge : null %>">

                            </div>



                        </div>
                        <div class="principal bloque">
                            <div>
                                <h2 class="centrar-titulos"> Principales Caracteristicas</h2>
                            </div>
                            <div class="centrar">

                                <label for="displayP">Pantalla Principal</label>
                                <input type="text" name="displayP" id="displayP"
                                    value="<%= locals.old && old.displayP ? old.displayP : null %>">
                                <span class="">
                                    <%= locals.errores && errores.displayP ? errores.displayP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="processorP">Procesador Principal</label>
                                <input type="text" name="processorP" id="processorP"
                                    value="<%= locals.old && old.processorP ? old.processorP : null %>">
                                <span class="">
                                    <%= locals.errores && errores.processorP ? errores.processorP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="memoryP">Memoria Principal</label>
                                <input type="text" name="memoryP" id="memoryP"
                                    value="<%= locals.old && old.memoryP ? old.memoryP : null %>">
                                <span class="">
                                    <%= locals.errores && errores.memoryP ? errores.memoryP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="storageP">Almacenamiento Principal</label>
                                <input type="text" name="storageP" id="storageP"
                                    value="<%= locals.old && old.storageP ? old.storageP : null %>">
                                <span class="">
                                    <%= locals.errores && errores.storageP ? errores.storageP.msg : null
                                        %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="expansionP">Expansion Principal</label>
                                <input type="text" name="expansionP" id="expansionP"
                                    value="<%= locals.old && old.expansionP ? old.expansionP : null %>">
                                <span class="">
                                    <%= locals.errores && errores.expansionP ? errores.expansionP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="cameraP">Cámara Principal</label>
                                <input type="text" name="cameraP" id="cameraP"
                                    value="<%= locals.old && old.cameraP ? old.cameraP : null %>">
                                <span class="">
                                    <%= locals.errores && errores.cameraP ? errores.cameraP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="batteryP">Batería Principal</label>
                                <input type="text" name="batteryP" id="batteryP"
                                    value="<%= locals.old && old.batteryP ? old.batteryP : null %>">
                                <span class="">
                                    <%= locals.errores && errores.batteryP ? errores.batteryP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="osP">Sistema Operativo Principal</label>
                                <input type="text" name="osP" id="osP"
                                    value="<%= locals.old && old.osP ? old.osP : null %>">
                                <span class="">
                                    <%= locals.errores && errores.osP ? errores.osP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="profileP">Perfil Principal</label>
                                <input type="text" name="profileP" id="profileP"
                                    value="<%= locals.old && old.profileP ? old.profileP : null %>">
                                <span class="">
                                    <%= locals.errores && errores.profileP ? errores.profileP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="weightP">Peso Principal</label>
                                <input type="text" name="weightP" id="weightP"
                                    value="<%= locals.old && old.weightP ? old.weightP : null %>">
                                <span class="">
                                    <%= locals.errores && errores.weightP ? errores.weightP.msg : null %>
                                </span>
                            </div>
                        </div>
                        <div class="redes bloque">
                            <div>
                                <h2 class="centrar-titulos"> Redes</h2>
                            </div>
                            <div class="centrar">
                                <label for="twog">2G</label>
                                <input type="text" name="twog" id="twog"
                                    value="<%= locals.old && old.twog ? old.twog : null %>">
                                <span class="">
                                    <%= locals.errores && errores.twog ? errores.twog.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="threeg">3G</label>
                                <input type="text" name="threeg" id="threeg"
                                    value="<%= locals.old && old.threeg ? old.threeg : null %>">
                                <span class="">
                                    <%= locals.errores && errores.threeg ? errores.threeg.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="fourg">4G</label>
                                <input type="text" name="fourg" id="fourg"
                                    value="<%= locals.old && old.fourg ? old.fourg : null %>">
                                <span class="">
                                    <%= locals.errores && errores.fourg ? errores.fourg.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="fiveg">5G</label>
                                <input type="text" name="fiveg" id="fiveg"
                                    value="<%= locals.old && old.fiveg ? old.fiveg : null %>">
                                <span class="">
                                    <%= locals.errores && errores.fiveg ? errores.fiveg.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="gprs">GPRS</label>
                                <input type="text" name="gprs" id="gprs"
                                    value="<%= locals.old && old.gprs ? old.gprs : null %>">

                            </div>
                            <div class="centrar">
                                <label for="sim">SIM</label>
                                <input type="text" name="sim" id="sim"
                                    value="<%= locals.old && old.sim ? old.sim : null %>">

                            </div>
                        </div>
                        <div class="camara bloque">
                            <div>
                                <h2 class="centrar-titulos"> Cámaras</h2>
                            </div>
                            <div class="centrar">
                                <label for="mainCamera">Cámara Principal</label>
                                <input type="text" name="mainCamera" id="mainCamera"
                                    value="<%= locals.old && old.mainCamera ? old.mainCamera : null %>">

                            </div>
                            <div class="centrar">
                                <label for="videoCamera">Cámara Video</label>
                                <input type="text" name="videoCamera" id="videoCamera"
                                    value="<%= locals.old && old.videoCamera ? old.videoCamera : null %>">

                            </div>
                            <div class="centrar">
                                <label for="frontCamera">Cámara Frontal</label>
                                <input type="text" name="frontCamera" id="frontCamera"
                                    value="<%= locals.old && old.frontCamera ? old.frontCamera : null %>">

                            </div>
                        </div>

                        <div class="bateria bloque">
                            <div>
                                <h2 class="centrar-titulos"> Bateria</h2>
                            </div>

                            <div class="centrar">
                                <label for="fastCharge">Carga Rápida</label>
                                <input type="text" name="fastCharge" id="fastCharge"
                                    value="<%= locals.old && old.fastCharge ? old.fastCharge : null %>">

                            </div>
                            <div class="centrar">
                                <label for="wirelessCharge">Carga Inalambrica</label>
                                <input type="text" name="wirelessCharge" id="wirelessCharge"
                                    value="<%= locals.old && old.wirelessCharge ? old.wirelessCharge : null %>">

                            </div>

                        </div>


                        <div class="conectividad bloque">
                            <div>
                                <h2 class="centrar-titulos"> Conectividad</h2>
                            </div>
                            <div class="centrar">
                                <label for="wifi">Wi-Fi</label>
                                <input type="text" name="wifi" id="wifi"
                                    value="<%= locals.old && old.wifi ? old.wifi : null %>">

                            </div>
                            <div class="centrar">
                                <label for="bluetooth">Bluetooth</label>
                                <input type="text" name="bluetooth" id="bluetooth"
                                    value="<%= locals.old && old.bluetooth ? old.bluetooth : null %>">
                                <span class="">
                                    <%= locals.errores && errores.bluetooth ? errores.bluetooth.msg : null %>
                                </span>
                            </div>
                            <div class=" centrar">
                                <label for="gps">GPS</label>
                                <input type="text" name="gps" id="gps"
                                    value="<%= locals.old && old.gps ? old.gps : null %>">

                            </div>
                            <div class="centrar">
                                <label for="usb">USB</label>
                                <input type="text" name="usb" id="usb"
                                    value="<%= locals.old && old.usb ? old.usb : null %>">
                                <span class="">
                                    <%= locals.errores && errores.usb ? errores.usb.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="nfc">NFC</label>
                                <input type="text" name="nfc" id="nfc"
                                    value="<%= locals.old && old.nfc ? old.nfc : null %>">

                            </div>
                            <div class="centrar">
                                <label for="infrared">Infrarrojo</label>
                                <input type="text" name="infrared" id="infrared"
                                    value="<%= locals.old && old.infrared ? old.infrared : null %>">
                            </div>

                        </div>
                        <div class="display bloque">
                            <div>
                                <h2 class="centrar-titulos"> Display</h2>
                            </div>
                            <div class="centrar">
                                <label for="displayType">Display Tipo</label>
                                <input type="text" name="displayType" id="displayType"
                                    value="<%= locals.old && old.displayType ? old.displayType : null %>">

                            </div>
                            <div class="centrar">
                                <label for="displaySize">Display Tamaño</label>
                                <input type="text" name="displaySize" id="displaySize"
                                    value="<%= locals.old && old.displaySize ? old.displaySize : null %>">

                            </div>
                            <div class="centrar">
                                <label for="displayResolution">Display Resolución</label>
                                <input type="text" name="displayResolution" id="displayResolution"
                                    value="<%= locals.old && old.displayResolution ? old.displayResolution : null %>">

                            </div>
                            <div class="centrar">
                                <label for="density">Densidad</label>
                                <input type="text" name="density" id="density"
                                    value="<%= locals.old && old.density ? old.density : null %>">

                            </div>
                            <div class="centrar">
                                <label for="protection">Protección</label>
                                <input type="text" name="protection" id="protection"
                                    value="<%= locals.old && old.protection ? old.protection : null %>">

                            </div>


                        </div>
                        <div class="imagenes bloque">

                            <div>
                                <h2 class="centrar-titulos"> Imagenes</h2>
                            </div>
                            <div class="subir-imagen centrar">
                                <input class="centrar subir-img" type="file" id="image" name="image" multiple>
                                <span class="errorImagen centrar">
                                    <%= locals.errores && errores.image ? errores.image.msg : null %>
                                </span>
                            </div>


                        </div>
                        <div class="centrar agregar-producto"><button type="submit">Agregar producto</button></div>
                        <!--<div class="centrar"><button type="submit" class="boton-enviar">Agregar</button></div>-->
                    </form>
                    <!---->








                </div>
            </main>


            <%- include('../partials/footer') %>

    </body>

</html>