<!DOCTYPE html>
<html>
<%- include('../partials/head',{title:"Editar" + celular.nombreCorto }) %>

    <body class="productAdd">
        <%- include('./partials/header') %>
            <main class="admin-container">
                <div class="container">
                    <form action="/admin/edit/<%= celular.id %>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <div class="general bloque">
                            <div>
                                <h2 class="centrar-titulos"> General</h2>
                            </div>
                            <div class="centrar">
                                <label for="nombreCorto">Nombre Corto</label>
                                <input type="text" name="nombreCorto" id="nombreCorto"
                                    value="<%= celular.nombreCorto %> ">
                                <span class="">
                                    <%= locals.errores && errores.nombreCorto ? errores.nombreCorto.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="nombreLargo">Nombre Largo</label>
                                <input type="text" name="nombreLargo" id="nombreLargo"
                                    value="<%= celular.nombreLargo %> ">
                                <span class="">
                                    <%= locals.errores && errores.nombreLargo ? errores.nombreLargo.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="marca">Marca</label>
                                <input type="text" name="marca" id="marca" value="<%= celular.marca  %>">
                                <span class="">
                                    <%= locals.errores && errores.marca ? errores.marca.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="precio">Precio</label>
                                <input type="number" name="precio" id="precio" value=<%=celular.precio %>>
                                <span class="">
                                    <%= locals.errores && errores.precio ? errores.precio.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="categoria">Categoria</label>
                                <!--falta agregar categorias-->
                                <input type="text" name="categoria" id="categoria" value="<%= celular.categoria %> ">
                                <span class="">
                                    <%= locals.errores && errores.categoria ? errores.categoria.msg : null %>
                                </span>
                            </div>

                            <div class="centrar">
                                <label for="color">Color</label>
                                <input type="text" name="color" id="color" value="<%= celular.color %> ">
                                <span class="">
                                    <%= locals.errores && errores.color ? errores.color.msg : null %>
                                </span>
                            </div>

                            <div class="centrar">
                                <label for="edge">EDGE</label>
                                <input type="text" name="edge" id="edge" value="<%= celular.edge %> ">
                                <span class="">
                                    <%= locals.errores && errores.edge ? errores.edge.msg : null %>
                                </span>
                            </div>

                            <div class="centrar">
                                <label for="dimensiones">Dimensiones</label>
                                <input type="text" name="dimensiones" id="dimensiones"
                                    value="<%= celular.dimensiones %> ">
                                <span class="">
                                    <%= locals.errores && errores.dimensiones ? errores.dimensiones.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="peso">Peso</label>
                                <input type="text" name="peso" id="peso" value="<%= celular.peso %> ">
                                <span class="">
                                    <%= locals.errores && errores.peso ? errores.peso.msg : null %>
                                </span>
                            </div>
                        </div>
                        <div class="principal bloque">
                            <div>
                                <h2 class="centrar-titulos"> Principales Caracteristicas</h2>
                            </div>
                            <div class="centrar">

                                <label for="pantallaP">Pantalla Principal</label>
                                <input type="text" name="pantallaP" id="pantallaP" value="<%= celular.pantallaP %> ">
                                <span class="">
                                    <%= locals.errores && errores.pantallaP ? errores.pantallaP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="procesadorP">Procesador Principal</label>
                                <input type="text" name="procesadorP" id="procesadorP"
                                    value="<%= celular.procesadorP %> ">
                                <span class="">
                                    <%= locals.errores && errores.procesadorP ? errores.procesadorP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="memoriaP">Memoria Principal</label>
                                <input type="text" name="memoriaP" id="memoriaP" value="<%= celular.memoriaP %> ">
                                <span class="">
                                    <%= locals.errores && errores.memoriaP ? errores.memoriaP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="almacenamientoP">Almacenamiento Principal</label>
                                <input type="text" name="almacenamientoP" id="almacenamientoP"
                                    value="<%= celular.almacenamientoP %> ">
                                <span class="">
                                    <%= locals.errores && errores.almacenamientoP ? errores.almacenamientoP.msg : null
                                        %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="expansionP">Expansion Principal</label>
                                <input type="text" name="expansionP" id="expansionP" value="<%= celular.expansionP %> ">
                                <span class="">
                                    <%= locals.errores && errores.expansionP? errores.expansionP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="camaraP">Cámara Principal</label>
                                <input type="text" name="camaraP" id="camaraP" value="<%= celular.camaraP %> ">
                                <span class="">
                                    <%= locals.errores && errores.camaraP? errores.camaraP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="bateriaP">Batería Principal</label>
                                <input type="text" name="bateriaP" id="bateriaP" value="<%= celular.bateriaP%> ">
                                <span class="">
                                    <%= locals.errores && errores.bateriaP ? errores.bateriaP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="osP">Sistema Operativo Principal</label>
                                <input type="text" name="osP" id="osP" value="<%= celular.osP %> ">
                                <span class="">
                                    <%= locals.errores && errores.osP ? errores.osP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="perfilP">Perfil Principal</label>
                                <input type="text" name="perfilP" id="perfilP" value="<%= celular.perfilP %> ">
                                <span class="">
                                    <%= locals.errores && errores.perfilP ? errores.perfilP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="pesoP">Peso Principal</label>
                                <input type="text" name="pesoP" id="pesoP" value="<%= celular.pesoP %> ">
                                <span class="">
                                    <%= locals.errores && errores.pesoP ? errores.pesoP.msg : null %>
                                </span>
                            </div>
                        </div>
                        <div class="redes bloque">
                            <div>
                                <h2 class="centrar-titulos"> Redes</h2>
                            </div>
                            <div class="centrar">
                                <label for="dosg">2G</label>
                                <input type="text" name="dosg" id="dosg" value="<%= celular.dosg %> ">
                                <span class="">
                                    <%= locals.errores && errores.dosg ? errores.dosg.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="tresg">3G</label>
                                <input type="text" name="tresg" id="tresg" value="<%= celular.tresg%> ">
                                <span class="">
                                    <%= locals.errores && errores.tresg ? errores.tresg.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="cuatrog">4G</label>
                                <input type="text" name="cuatrog" id="cuatrog" value="<%= celular.cuatrog %> ">
                                <span class="">
                                    <%= locals.errores && errores.cuatrog ? errores.cuatrog.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="cincog">5G</label>
                                <input type="text" name="cincog" id="cincog" value="<%= celular.cincog %> ">
                                <span class="">
                                    <%= locals.errores && errores.cincog ? errores.cincog.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="gprs">GPRS</label>
                                <input type="text" name="gprs" id="gprs" value="<%= celular.gprs %> ">
                                <span class="">
                                    <%= locals.errores && errores.gprs ? errores.gprs.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="sim">SIM</label>
                                <input type="text" name="sim" id="sim" value="<%= celular.sim %> ">
                                <span class="">
                                    <%= locals.errores && errores.sim ? errores.sim.msg : null %>
                                </span>
                            </div>
                        </div>
                        <div class="camara bloque">
                            <div>
                                <h2 class="centrar-titulos"> Cámaras</h2>
                            </div>
                            <div class="centrar">
                                <label for="camaraPrincipal">Cámara Principal</label>
                                <input type="text" name="camaraPrincipal" id="camaraPrincipal"
                                    value="<%= celular.camaraPrincipal %> ">
                                <span class="">
                                    <%= locals.errores && errores.camaraPrincipal ? errores.camaraPrincipal.msg : null
                                        %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="camaraVideo">Cámara Video</label>
                                <input type="text" name="camaraVideo" id="camaraVideo"
                                    value="<%= celular.camaraVideo %> ">
                                <span class="">
                                    <%= locals.errores && errores.camaraVideo? errores.camaraVideo.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="camaraFrontal">Cámara Frontal</label>
                                <input type="text" name="camaraFrontal" id="camaraFrontal"
                                    value="<%= celular.camaraFrontal %> ">
                                <span class="">
                                    <%= locals.errores && errores.camaraFrontal ? errores.camaraFrontal.msg : null %>
                                </span>
                            </div>
                        </div>

                        <div class="bateria  bloque">
                            <div>
                                <h2 class="centrar-titulos"> Bateria</h2>
                            </div>
                            <div class="centrar">
                                <label for="bateriaCapacidad">Capacidad de Bateria</label>
                                <input type="text" name="bateriaCapacidad" id="bateriaCapacidad"
                                    value="<%= celular.bateriaCapacidad %> ">
                                <span class="">
                                    <%= locals.errores && errores.bateriaCapacidad? errores.bateriaCapacidad.msg : null
                                        %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="bateriaTipo">Tipo de Bateria</label>
                                <input type="text" name="bateriaTipo" id="bateriaTipo"
                                    value="<%= celular.bateriaTipo%> ">
                                <span class="">
                                    <%= locals.errores && errores.bateriaTipo ? errores.bateriaTipo.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="extraible">Extraible</label>
                                <input type="text" name="extraible" id="extraible" value="<%= celular.extraible %> ">
                                <span class="">
                                    <%= locals.errores && errores.extraible? errores.extraible.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="cargaRapida">Carga Rápida</label>
                                <input type="text" name="cargaRapida" id="cargaRapida"
                                    value="<%= celular.cargaRapida %> ">
                                <span class="">
                                    <%= locals.errores && errores.cargaRapida ? errores.cargaRapida.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="cargaInalambrica">Carga Inalambrica</label>
                                <input type="text" name="cargaInalambrica" id="cargaInalambrica"
                                    value="<%= celular.cargaInalambrica %> ">
                                <span class="">
                                    <%= locals.errores && errores.cargaInalambrica ? errores.cargaInalambrica.msg : null
                                        %>
                                </span>
                            </div>

                        </div>

                        <div class="memoria  bloque">
                            <div>
                                <h2 class="centrar-titulos"> Memoria</h2>
                            </div>
                            <div class="centrar">
                                <label for="memoriaInterna">Memoria Interna</label>
                                <input type="text" name="memoriaInterna" id="memoriaInterna"
                                    value="<%= celular.memoriaInterna %> ">
                                <span class="">
                                    <%= locals.errores && errores.memoriaInterna ? errores.memoriaInterna.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="slot">SLOT</label>
                                <input type="text" name="slot" id="slot" value="<%= celular.slot %> ">
                                <span class="">
                                    <%= locals.errores && errores.slot ? errores.slot.msg : null %>
                                </span>
                            </div>
                        </div>
                        <div class="conectividad  bloque">
                            <div>
                                <h2 class="centrar-titulos"> Conectividad</h2>
                            </div>
                            <div class="centrar">
                                <label for="wifi">Wi-Fi</label>
                                <input type="text" name="wifi" id="wifi" value="<%= celular.wifi %> ">
                                <span class="">
                                    <%= locals.errores && errores.wifi ? errores.wifi.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="bluetooth">Bluetooth</label>
                                <input type="text" name="bluetooth" id="bluetooth" value="<%= celular.bluetooth %> ">
                                <span class="">
                                    <%= locals.errores && errores.bluetooth ? errores.bluetooth.msg : null %>
                                </span>
                            </div>
                            <div class=" centrar">
                                <label for="gps">GPS</label>
                                <input type="text" name="gps" id="gps" value="<%= celular.gps %> ">
                                <span class="">
                                    <%= locals.errores && errores.gps ? errores.gps.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="usb">USB</label>
                                <input type="text" name="usb" id="usb" value="<%= celular.usb %> ">
                                <span class="">
                                    <%= locals.errores && errores.usb ? errores.usb.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="nfc">NFC</label>
                                <input type="text" name="nfc" id="nfc" value="<%= celular.nfc %> ">
                                <span class="">
                                    <%= locals.errores && errores.nfc ? errores.nfc.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="infrarrojo">Infrarrojo</label>
                                <input type="text" name="infrarrojo" id="infrarrojo" value="<%= celular.infrarrojo %> ">
                                <span class="">
                                    <%= locals.errores && errores.infrarrojo ? errores.infrarrojo.msg : null %>
                                </span>
                            </div>

                        </div>
                        <div class="display  bloque">
                            <div>
                                <h2 class="centrar-titulos"> Display</h2>
                            </div>
                            <div class="centrar">
                                <label for="displayTipo">Display Tipo</label>
                                <input type="text" name="displayTipo" id="displayTipo"
                                    value="<%= celular.displayTipo %> ">
                                <span class="">
                                    <%= locals.errores && errores.displayTipo ? errores.displayTipo.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="displayTamanio">Display Tamaño</label>
                                <input type="text" name="displayTamanio" id="displayTamanio"
                                    value="<%= celular.displayTamanio %> ">
                                <span class="">
                                    <%= locals.errores && errores.displayTamanio ? errores.displayTamanio.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="displayResolucion">Display Resolución</label>
                                <input type="text" name="displayResolucion" id="displayResolucion"
                                    value="<%= celular.displayResolucion %> ">
                                <span class="">
                                    <%= locals.errores && errores.displayResolucion ? errores.displayResolucion.msg :
                                        null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="densidad">Densidad</label>
                                <input type="text" name="densidad" id="densidad" value="<%= celular.densidad %> ">
                                <span class="">
                                    <%= locals.errores && errores.densidad ? errores.densidad.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="proteccion">Protección</label>
                                <input type="text" name="proteccion" id="proteccion" value="<%= celular.proteccion %> ">
                                <span class="">
                                    <%= locals.errores && errores.proteccion ? errores.proteccion.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="os">Sistema Operativo</label>
                                <input type="text" name="os" id="os" value="<%= celular.os %> ">
                                <span class="">
                                    <%= locals.errores && errores.os ? errores.os.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="procesador">Procesador</label>
                                <input type="text" name="procesador" id="procesador" value="<%= celular.procesador %> ">
                                <span class="">
                                    <%= locals.errores && errores.procesador ? errores.procesador.msg : null %>
                                </span>
                            </div>
                        </div>
                        <div class="imagenes bloque">

                            <div>
                                <h2 class="centrar-titulos"> Imagenes</h2>
                            </div>
                            <div class="subir-imagen centrar">
                                <input class="centrar subir-img" type="file" id="image" name="image" multiple>
                                <span class="errorImagen centrar">
                                    <%= locals.errores && errores.image ? errores.image.msg : null %>
                                </span>
                            </div>

                        </div>
                        <div class="centrar agregar-producto"><button type="submit">Editar producto</button></div>
                        <!--<div class="centrar"><button type="submit" class="boton-enviar">Agregar</button></div>-->
                    </form>
                    <!---->








                </div>
            </main>


            <%- include('../partials/footer') %>

    </body>

</html>