<!DOCTYPE html>
<html>
<%- include('../partials/head',{title:"Editar" + mobile.shortName }) %>

    <body class="productAdd">
        <%- include('./partials/header') %>
            <main class="admin-container">
                <div class="container">
                    <form action="/admin/edit/<%= mobile.id %>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <div class="general bloque">
                            <div>
                                <h2 class="centrar-titulos"> General</h2>
                            </div>
                            <div class="centrar">
                                <label for="shortName">Nombre Corto</label>
                                <input type="text" name="shortName" id="shortName"
                                    value="<%= mobile.shortName %> ">
                                <span class="">
                                    <%= locals.errores && errores.shortName ? errores.shortName.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="longName">Nombre Largo</label>
                                <input type="text" name="longName" id="longName"
                                    value="<%= mobile.longName %> ">

                            </div>
                            <div class="centrar">
                                <label for="brand">Marca</label>
                                <input type="text" name="brand" id="brand" value="<%= mobile.brand  %>">
                                <span class="">
                                    <%= locals.errores && errores.brand ? errores.brand.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="price">Precio</label>
                                <input type="number" name="price" id="price" value=<%=mobile.price %>>
                                <span class="">
                                    <%= locals.errores && errores.price ? errores.price.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">



                                <h4>Categoría</h4>
                                <select name="category" id="category">
                                    <% categories.forEach(category=> { %>
                                        <option value=<%= category.id %>
                                            <%=mobile.category===category.name ? 'selected' :
                                            null %> ><%= category.name %>
                                        </option>
                                        <% }) %>
                                </select>
                                <span class="">
                                    <%= locals.errores && errores.category ? errores.category.msg : null %>
                                </span>


                            </div>

                            <div class="centrar">

                                <h4>Color</h4>
                                <select name="colour" id="colour">
                                    <% colours.forEach(colour=> { %>
                                        <option value=<%= colour.id %>
                                            <%=mobile.colour===colour.name ? 'selected' :
                                            null %> ><%= colour.name %>
                                        </option>
                                        <% }) %>
                                </select>
                                <span class="">
                                    <%= locals.errores && errores.colour ? errores.colour.msg : null %>
                                </span>

                            </div>

                            <div class="centrar">
                                <label for="edge">EDGE</label>
                                <input type="text" name="edge" id="edge" value="<%= mobile.edge %> ">

                            </div>



                        </div>
                        <div class="principal bloque">
                            <div>
                                <h2 class="centrar-titulos"> Principales Caracteristicas</h2>
                            </div>
                            <div class="centrar">

                                <label for="displayP">Pantalla Principal</label>
                                <input type="text" name="displayP" id="displayP" value="<%= mobile.mainFeature.displayP %> ">
                                <span class="">
                                    <%= locals.errores && errores.displayP ? errores.displayP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="processorP">Procesador Principal</label>
                                <input type="text" name="processorP" id="processorP"
                                    value="<%= mobile.mainFeature.processorP %> ">
                                <span class="">
                                    <%= locals.errores && errores.processorP ? errores.processorP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="memoryP">Memoria Principal</label>
                                <input type="text" name="memoryP" id="memoryP" value="<%= mobile.mainFeature.memoryP %> ">
                                <span class="">
                                    <%= locals.errores && errores.memoryP ? errores.memoryP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="storageP">Almacenamiento Principal</label>
                                <input type="text" name="storageP" id="storageP"
                                    value="<%= mobile.mainFeature.storageP %> ">
                                <span class="">
                                    <%= locals.errores && errores.storageP ? errores.storageP.msg : null
                                        %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="expansionP">Expansion Principal</label>
                                <input type="text" name="expansionP" id="expansionP" value="<%= mobile.mainFeature.expansionP %> ">
                                <span class="">
                                    <%= locals.errores && errores.expansionP? errores.expansionP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="cameraP">Cámara Principal</label>
                                <input type="text" name="cameraP" id="cameraP" value="<%= mobile.mainFeature.cameraP %> ">
                                <span class="">
                                    <%= locals.errores && errores.cameraP? errores.cameraP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="batteryP">Batería Principal</label>
                                <input type="text" name="batteryP" id="batteryP" value="<%= mobile.mainFeature.batteryP%> ">
                                <span class="">
                                    <%= locals.errores && errores.batteryP ? errores.batteryP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="osP">Sistema Operativo Principal</label>
                                <input type="text" name="osP" id="osP" value="<%= mobile.mainFeature.osP %> ">
                                <span class="">
                                    <%= locals.errores && errores.osP ? errores.osP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="profileP">Perfil Principal</label>
                                <input type="text" name="profileP" id="profileP" value="<%= mobile.mainFeature.profileP %> ">
                                <span class="">
                                    <%= locals.errores && errores.profileP ? errores.profileP.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="weightP">Peso Principal</label>
                                <input type="text" name="weightP" id="weightP" value="<%= mobile.mainFeature.weightP %> ">
                                <span class="">
                                    <%= locals.errores && errores.weightP ? errores.weightP.msg : null %>
                                </span>
                            </div>
                        </div>
                        <div class="redes bloque">
                            <div>
                                <h2 class="centrar-titulos"> Redes</h2>
                            </div>
                            <div class="centrar">
                                <label for="twoG">2G</label>
                                <input type="text" name="twoG" id="twoG" value="<%= mobile.net.twoG %> ">
                                <span class="">
                                    <%= locals.errores && errores.twoG ? errores.twoG.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="threeG">3G</label>
                                <input type="text" name="threeG" id="threeG" value="<%= mobile.net.threeG%> ">
                                <span class="">
                                    <%= locals.errores && errores.threeG ? errores.threeG.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="fourG">4G</label>
                                <input type="text" name="fourG" id="fourG" value="<%= mobile.net.fourG %> ">
                                <span class="">
                                    <%= locals.errores && errores.fourG ? errores.fourG.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="fiveG">5G</label>
                                <input type="text" name="fiveG" id="fiveG" value="<%= mobile.net.fiveG %> ">
                                <span class="">
                                    <%= locals.errores && errores.fiveG ? errores.fiveG.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="gprs">GPRS</label>
                                <input type="text" name="gprs" id="gprs" value="<%= mobile.net.gprs %> ">

                            </div>
                            <div class="centrar">
                                <label for="sim">SIM</label>
                                <input type="text" name="sim" id="sim" value="<%= mobile.net.sim %> ">

                            </div>
                        </div>
                        <div class="camara bloque">
                            <div>
                                <h2 class="centrar-titulos"> Cámaras</h2>
                            </div>
                            <div class="centrar">
                                <label for="rearCamera">Cámara Principal</label>
                                <input type="text" name="rearCamera" id="rearCamera"
                                    value="<%= mobile.camera.rearCamera %> ">

                            </div>
                            <div class="centrar">
                                <label for="videoCamera">Cámara Video</label>
                                <input type="text" name="videoCamera" id="videoCamera"
                                    value="<%= mobile.camera.videoCamera %> ">

                            </div>
                            <div class="centrar">
                                <label for="frontalCamera">Cámara Frontal</label>
                                <input type="text" name="frontalCamera" id="frontalCamera"
                                    value="<%= mobile.camera.frontalCamera %> ">

                            </div>
                        </div>

                        <div class="bateria  bloque">
                            <div>
                                <h2 class="centrar-titulos"> Bateria</h2>
                            </div>


                            <div class="centrar">
                                <label for="fastCharge">Carga Rápida</label>
                                <input type="text" name="fastCharge" id="fastCharge"
                                    value="<%= mobile.battery.fastCharge %> ">

                            </div>
                            <div class="centrar">
                                <label for="wirelessCharge">Carga Inalambrica</label>
                                <input type="text" name="wirelessCharge" id="wirelessCharge"
                                    value="<%= mobile.battery.wirelessCharge %> ">

                            </div>

                        </div>


                        <div class="conectividad  bloque">
                            <div>
                                <h2 class="centrar-titulos"> Conectividad</h2>
                            </div>
                            <div class="centrar">
                                <label for="wifi">Wi-Fi</label>
                                <input type="text" name="wifi" id="wifi" value="<%= mobile.connectivity.wifi %> ">

                            </div>
                            <div class="centrar">
                                <label for="bluethoot">bluethoot</label>
                                <input type="text" name="bluethoot" id="bluethoot" value="<%= mobile.connectivity.bluethoot %> ">
                                <span class="">
                                    <%= locals.errores && errores.bluethoot ? errores.bluethoot.msg : null %>
                                </span>
                            </div>
                            <div class=" centrar">
                                <label for="gps">GPS</label>
                                <input type="text" name="gps" id="gps" value="<%= mobile.connectivity.gps %> ">

                            </div>
                            <div class="centrar">
                                <label for="usb">USB</label>
                                <input type="text" name="usb" id="usb" value="<%= mobile.connectivity.usb %> ">
                                <span class="">
                                    <%= locals.errores && errores.usb ? errores.usb.msg : null %>
                                </span>
                            </div>
                            <div class="centrar">
                                <label for="nfc">NFC</label>
                                <input type="text" name="nfc" id="nfc" value="<%= mobile.connectivity.nfc %> ">

                            </div>
                            <div class="centrar">
                                <label for="infrared">Infrarrojo</label>
                                <input type="text" name="infrared" id="infrared" value="<%= mobile.connectivity.infrared %> ">

                            </div>

                        </div>
                        <div class="display  bloque">
                            <div>
                                <h2 class="centrar-titulos"> Display</h2>
                            </div>
                            <div class="centrar">
                                <label for="displayType">Display Tipo</label>
                                <input type="text" name="displayType" id="displayType"
                                    value="<%= mobile.display.displayType %> ">

                            </div>
                            <div class="centrar">
                                <label for="displaySize">Display Tamaño</label>
                                <input type="text" name="displaySize" id="displaySize"
                                    value="<%= mobile.display.displaySize %> ">

                            </div>
                            <div class="centrar">
                                <label for="displayResolution">Display Resolución</label>
                                <input type="text" name="displayResolution" id="displayResolution"
                                    value="<%= mobile.display.displayResolution %> ">

                            </div>
                            <div class="centrar">
                                <label for="density">Densidad</label>
                                <input type="text" name="density" id="density" value="<%= mobile.display.density %> ">

                            </div>
                            <div class="centrar">
                                <label for="protection">Protección</label>
                                <input type="text" name="protection" id="protection" value="<%= mobile.display.protection %> ">

                            </div>


                        </div>
                        <div class="imagenes bloque">

                            <div>
                                <h2 class="centrar-titulos"> Imagenes</h2>
                            </div>
                            <div class="subir-imagen centrar">
                                <input class="centrar subir-img" type="file" id="image" name="image" multiple>

                            </div>

                        </div>
                        <div class="centrar agregar-producto"><button type="submit">Editar producto</button></div>
                        <!--<div class="centrar"><button type="submit" class="boton-enviar">Agregar</button></div>-->
                    </form>
                    <!---->








                </div>
            </main>


            <%- include('../partials/footer') %>
         
    </body>

</html>