<!DOCTYPE html>
<html lang="en">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%- include('../partials/head',{title:"Admin usuarios"}) %>
<body class = "adminTable">
    <%- include('./partials/header') %>
    <main>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Avatar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <th scope="row"><%= user.id %> </th>
                            <td><img src="/images/usuarios/<%= user.avatar.file %>" alt="" height="80px" width="80px"> </td>
                            <td><%= user.name %> </td>
                            <td><%= user.lastName %> </td>
                            <td><%= user.email %> </td>
                            <td>
                              <p id="pRol"><%= user.rol.name %></p>
                              <form class="ocultar" id="form-edit" action="/admin/users/update/<%= user.id %>?_method=PUT" method="POST">
                                <select name="rols" id="select-rols">
                                  <option value="<%= user.rolId %>" hidden><%= user.rol.name %></option>
                                  <% rols.forEach(rol => { %>
                                    <option value="<%= rol.id %>"><%= rol.name %></option>
                                  <% }) %>
                              </select>
                              <button id="boton" class="btn btm-sm btn-primary" type="submit">ok</button>
                              </form>
                            </td>
                            <td class="d-flex">
                              <a id="edit-button" class="btn btn-sm btn-success" href="">Cambiar Rol</i></a>
                              <div>
                                <form action="/admin/users/delete/<%= user.id %>?_method=DELETE" method="POST"
                                  id="eliminar">
                                  <button class="btn btn-sm btn-danger" type='submit'>Eliminar</button>
                                </form>
                              </div>
                          </td>
                          </tr>
                         
                    <% }) %>
                </tbody>
              </table>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <script src="/javascripts/adminUsers.js"></script>
  </body>
</html>