<!DOCTYPE html>
<html lang="es">
    <%-include('../partials/head',{title:"Mi Perfil"})  %> 

<body class="profile">
    <%-include('../partials/header')  %>


    <main>

        <div class="per">
            <h2>  Perfil de usuario</h2>
        </div>
        <div class="img">
            <img src="/images/usuarios/<%= usuario.avatar %>" alt="">
        </div>
        <div class="form">
            <form action="/users/profile?_method=PUT" method="POST"enctype="multipart/form-data">
                <div class="name">
                    <label for="nombre"></label>
                    <input type="text" placeholder="Ingresa tu nombre" name="nombre" id="nombre" value="<%= usuario.nombre  %>">
                    <span><%= locals.errores && errores.nombre ? errores.nombre.msg : null %> </span>

                </div>
                <div class="name">
                    <label for="apellido"></label>
                    <input type="text" placeholder="Ingresa tu apellido" name="apellido" id="apellido" value="<%= usuario.apellido  %>">
                    <span><%= locals.errores && errores.apellido ? errores.apellido.msg : null %> </span>

                </div>

                <div class="email">
                    <label for="email"></label>
                    <input type="email" placeholder="Ingresa tu Email" name="email" readonly id="email" value="<%= usuario.email  %>">
                    <span><%= locals.errores && errores.email ? errores.email.msg : null %> </span>
                </div>
                <div class="pass0">
                    <label for="password0"></label>
                    <input type="password" placeholder="Ingresa tu contraseña" name="password0" id="password0">
                    <span><%= locals.errores && errores.password0 ? errores.password0.msg : null %> </span>
                </div>
                <div class = "check">
                    <input class = "change" type="checkbox" name="change" id="change">
                    <label for="change">¿Deseas cambiar tu contraseña? CLICK AQUI</label>
                    <div class="newPass">
                        <div class="pass1">
                            <label for="password1"></label>
                            <input  type="password" placeholder="Nueva contraseña " name="password1" id="password1">
                            <span><%= locals.errores && errores.password1 ? errores.password1.msg : null %> </span>
                        </div>
                        <div class="pass2">
                            <label for="password2"></label>
                            <input type="password" placeholder="Confirmar contraseña" name="password2" id="password2">
                            <span><%= locals.errores && errores.password2 ? errores.password2.msg : null %> </span>
                        </div>
                    </div>
                </div>
                
                
                <div class="avatar">
                    <label for="avatar">Subir imagen de perfil</label> 
                    <input type="file" id="avatar" name="avatar">
                    <span><%= locals.errores && errores.avatar ? errores.avatar.msg : null %> </span>
                </div>
                <button type="submit">Guardar cambios</button>
            </form>
        </div>

    </main>

    <%-include('../partials/footer')  %> 
    
</body>

</html>