<!DOCTYPE html>
<html lang="es">
    <%-include('../partials/head',{title:"REGISTRATE"})  %> 

<body class="register">
    <%-include('../partials/header')  %> 

        <main>
        <div>
            <h1>
                Formulario de registro
            </h1>
        </div>
        <div>
            <form action="" method="POST">
                <div>
                    <label for="nombre"></label>
                    <input type="text" placeholder="Ingresa tu nombre" name="nombre" id="nombre"value= "<%= locals.old && old.nombre ? old.nombre : null %>">
                    <small class="rojo"><%= locals.errores && errores.nombre ? errores.nombre.msg : null %>  </small>
                </div>
                <div>
                    <label for="apellido"></label>
                    <input type="text" placeholder="Ingresa tu apellido" name="apellido" id="apellido"value= "<%= locals.old && old.apellido ? old.apellido : null %>">
                    <small class="rojo"><%= locals.errores && errores.apellido ? errores.apellido.msg : null %> </small>
                </div>
                <div>
                    <label for="email"></label>
                    <input type="text" placeholder="Ingresa tu Email" name="email" id="email"value= "<%= locals.old && old.email ? old.email : null %>">
                    <small class="rojo"><%= locals.errores && errores.email ? errores.email.msg : null %> </small>
                </div>
                <div>
                    <label for="password"></label>
                    <input type="password" placeholder="Ingresa tu contraseña" name="password" id="password">
                    <small class="rojo"><%= locals.errores && errores.password ? errores.password.msg : null %> </small>
                </div>
                <div>
                    <label for="password2"></label>
                    <input type="password" placeholder="Confirma tu contraseña" name="password2" id="password2">
                    <small class="rojo"><%= locals.errores && errores.password2 ? errores.password2.msg : null %> </small>
                </div>
        </div>


        <div class="terms">
            <div class="msj">
                <input class="check" type="checkbox" id="terms" value="terms" name="terms">
                <label class="text" for="terms"> Acepto términos y condiciones</label>
            </div>
            <small class="rojo"><%= locals.errores && errores.terms ? errores.terms.msg : null %> </small>
        </div>
       

        <div class="boton">
            <button type="submit">Registrar</button>
        </div>
        <div>
            <h5><a href="/users/login">¿Ya tengo una cuenta?</a></h5>
        </div>
        </form>
    </main>
    
    <%-include('../partials/footer')  %> 
    
</body>

</html>