<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head', {title : "CONTACTANOS"})%>

<body class="contactanos">

    <%- include('./partials/header')%>
    
    <main>
        <div>
            <h1>
                Contactanos
            </h1>
        </div>

        <div>

            <p>Para realizarnos una consulta o sugerencia, por favor, completá el formulario que se encuentra
                debajo...te responderemos a la brevedad.</p>

        </div>
        <div class="cont">
            <div class="datos">
                <form action="" method="post" id="form-contact">

                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" value="<%= locals.old && old.name ? old.name : null %>">
                    <small class="rojo" id="name-error"><%= locals.errores && errores.name ? errores.name.msg : null %> </small>
                    <label for="phone">Telefono</label>
                    <input type="text" name="phone" id="phone"value="<%= locals.old && old.phone ? old.phone : null %>">
                    <small class="rojo" id="phone-error"><%= locals.errores && errores.phone ? errores.phone.msg : null %> </small>
                    <label for="email">Correo</label>
                    <input type="text" name="email" id="email" value="<%= locals.old && old.email ? old.email : null %>">
                    <small class="rojo" id="email-error"><%= locals.errores && errores.email ? errores.email.msg : null %> </small>
                    <label class="mens" for="mesagge">Mensaje</label>
                    <textarea class="text" name="message" id="message" cols="30" rows="10"><%= locals.old && old.message ? old.message : null %></textarea>
                    <small class="rojo" id="message-error"><%= locals.errores && errores.message ? errores.message.msg : null %> </small>
                    <button type="submit">Enviar</button>
                </form>

            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.452187311563!2d-58.712117633620295!3d-34.54210466572569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd0d8bfe7981%3A0xad5dce52897dc62a!2sPaunero%201525%2C%20B1663%20GJI%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1629133035550!5m2!1ses-419!2sar"
                    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="nuest-dat">
            <h3>Direccion</h3>
            <p>Paunero 1525, San Miguel, Buenos Aires , Argentina
            </p>
            <h3>Correo</h3>
            <p>contacto.techcel@gmail.com</p>
            <p>www.techcel.com.ar</p>
            <h3>Telefono</h3>
            <p>0800-333-1235</p>
        </div>
    </main>

    <%- include('./partials/footer')%>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/contactanos.js"></script>

</body>


</html>