<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title : "INICIO"})%> 

<body class="home">
    <%- include('./partials/header')  %> 
    <main>
        <div class="banner-home">
            <a class="" href="/search?keywords=moto"><img src="/images/banner_moto_edge_5g.jpg" alt="Moto EDGE 5G"></a>
        </div>
        <div class="next-carousel">
            <a class="circle" href="/"><i class="fas fa-circle"></i></a>
            <a class="circle" href="/"><i class="fas fa-circle"></i></a>
            <a class="circle" href="/"><i class="fas fa-circle"></i></a>
            <a class="circle" href="/"><i class="fas fa-circle"></i></a>
        </div>
        <section class="seccion-main">
            <h2>NOVEDADES</h2>
            <div class="caja-completa">
                <div class="glider-contain">
                    <div class="glider">
                        <% novedades.forEach(celular => { %>
                            
                                <article class="card-carrousel">
                                    <a href="/productos/detail/<%= celular.id %>">
                                        <img src="/images/equipos/<%= celular.images[0].file %>" alt="">
                                        <p class=""><%= celular.shortName %> </p>
                                        <span>$ <%= toThousand(celular.price) %> </span>
                                    </a>
                                </article>
                           
                            
                        <% }) %>
                    </div>
                  
                    <button aria-label="Previous" class="glider-prev">«</button>
                    <button aria-label="Next" class="glider-next">»</button>
                    <div role="tablist" class="dots"></div>
                </div>
            </div>
        </section>
        <section class="seccion-main">
            <h2>OFERTAS</h2>
            <div class="caja-completa">
                <div class="glider-contain">
                    <div class="glider1">
                        <% ofertas.forEach(celular => { %>
                                <article class="card-carrousel">
                                    <a href="/productos/detail/<%= celular.id %>">
                                        <img src="/images/equipos/<%= celular.images[0].file %>" alt="">
                                        <p class=""><%= celular.shortName %> </p>
                                        <span>$ <%= toThousand(celular.price) %> </span>
                                    </a>
                                </article>
                        <% }) %>
                    </div>
                  
                    <button aria-label="Previous" class="glider-prev1">«</button>
                    <button aria-label="Next" class="glider-next1">»</button>
                    <div role="tablist" class="dots1"></div>
                </div>
            </div>
        </section>
        <section class="seccion-main">
            <h2>LOS MÁS COMPRADOS</h2>
            <div class="caja-completa">
                <div class="glider-contain">
                    <div class="glider2">
                        <% losMasComprados.forEach(celular => { %>
                            
                                <article class="card-carrousel">
                                    <a href="/productos/detail/<%= celular.id %>">
                                        <img src="/images/equipos/<%= celular.images[0].file %>" alt="">
                                        <p class=""><%= celular.shortName %> </p>
                                        <span>$ <%= toThousand(celular.price) %> </span>
                                    </a>
                                </article>
                            
                        <% }) %>
                    </div>
                  
                    <button aria-label="Previous" class="glider-prev2">«</button>
                    <button aria-label="Next" class="glider-next2">»</button>
                    <div role="tablist" class="dots2"></div>
                </div>
            </div>
        </section>
        <div>
            <a href="/productos"><button type="button">VER MÁS</button></a>
            <% if (locals.userLogin) { %>
                <% if (userLogin.rolId === 1) { %>
                    <a href="/admin"><button type="button">Administrador</button></a>
                <% } %>
            <% } %>
 
        </div>
    </main>
    <%- include('./partials/footer')%> 
    <%- include('./partials/scripts')%> 
    <script src="/javascripts/carrousel.js"></script>

</body>

</html>