<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head', {title : "INICIO"})%> 

<body class="home">
    <%- include('./partials/header')  %> 
    <main>
        <div class="slider">
            <ul>
                <li><a href="#ofertas"><img src="/images/banner/banner-celulares.png" alt=""></a></li>
                <li><a href="#recomendados"><img src="/images/banner/maxresdefault.jpg" alt=""></a></li>
                <li><a href="/productos/detail/6"><img src="/images/banner/banner_moto_edge_5g.jpg" alt=""></a></li>
                <li><a href="/productos"><img src="/images/banner/101210_1045285.png" alt=""></a></li>
                
            </ul>
        </div>
       
        <section class="seccion-main">
            <h2>NOVEDADES</h2>
            <div class="caja-completa">
                <div class="glider-contain">
                    <div class="glider">
                        <% novedades.forEach(celular => { %>
                            
                                <article class="card-carrousel">
                                    <a href="/productos/detail/<%= celular.id %>">
                                        <img src="/images/equipos/<%= celular.images[0].file %>" alt="">
                                        <p class=""><%= celular.shortName %> </p>
                                        <span>$ <%= toThousand(celular.price) %> </span>
                                    </a>

                                    <div>
                                        <button class="lo-quiero"><h3>¡ LO QUIERO !</h3></button>
                                    </div>
                                </article>
                        <% }) %>

                    </div>
                  
                    <button aria-label="Previous" class="glider-prev">«</button>
                    <button aria-label="Next" class="glider-next">»</button>
                    <div role="tablist" class="dots"></div>
                </div>
            </div>
        </section>
        <section id="ofertas"class="seccion-main">
            <h2>OFERTAS</h2>
            <div class="caja-completa">
                <div class="glider-contain">
                    <div class="glider1">
                        <% ofertas.forEach(celular => { %>
                                <article class="card-carrousel">
                                    <a href="/productos/detail/<%= celular.id %>">
                                        <img src="/images/equipos/<%= celular.images[0].file %>" alt="">
                                        <p class=""><%= celular.shortName %> </p>
                                        <span>$ <%= toThousand(celular.price) %> </span>
                                    </a>
                                    
                                <div>
                                    <button class="lo-quiero"><h3>¡ LO QUIERO !</h3></button>
                                </div>
                                </article>
                                

                        <% }) %>

                    </div>
                  
                    <button aria-label="Previous" class="glider-prev1">«</button>
                    <button aria-label="Next" class="glider-next1">»</button>
                    <div role="tablist" class="dots1"></div>
                </div>
            </div>
        </section>

        <section id="recomendados" class="seccion-main">
            <h2>LOS MÁS COMPRADOS</h2>
            <div class="caja-completa">
                <div class="glider-contain">
                    <div class="glider2">
                        <% losMasComprados.forEach(celular => { %>
                            
                                <div class="tarjeta-producto"><article class="card-carrousel">

                                    <a href="/productos/detail/<%= celular.id %>">
                                        <img src="/images/equipos/<%= celular.images[0].file %>" alt="">
                                        <p class=""><%= celular.shortName %> </p>
                                        <span>$ <%= toThousand(celular.price) %> </span>
                                    </a>
                                <div>
                                    <button class="lo-quiero"><h3 href="/cart">¡ LO QUIERO !</h3></button>
                                </div>
                                </article></div>
                               

                        <% }) %>
                        
                    </div>
                  
                    <button aria-label="Previous" class="glider-prev2">«</button>
                    <button aria-label="Next" class="glider-next2">»</button>
                    <div role="tablist" class="dots2"></div>
                </div>
            </div>
        </section>
        <div>
            <a href="/productos"><button type="button">VER MÁS</button></a>
            <% if (locals.userLogin) { %>
                <% if (userLogin.rolId === 1) { %>
                    <a href="/admin"><button type="button">Administrador</button></a>
                <% } %>
            <% } %>
 
        </div>
    </main>
    <%- include('./partials/footer')%> 
    <%- include('./partials/scripts')%> 
    <script src="/javascripts/carrousel.js"></script>

</body>

</html>