<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{title:"Resultado de la busqueda  "}) %> 

<body class="adminProducts results">
    
    <%- include('./partials/header') %> 

<main>
    <section class ="articulos">
        <div class="productos-listado">
            <% if (celulares.length > 0 && busqueda) { %>
                <h2>Se muestran todos los productos que coinciden con "<%= busqueda %>" </h2>
                <% celulares.forEach(celular => { %>
                    <article>
                        <a href="/productos/detail/<%= celular.id %>">
                            <img src="/images/equipos/<%= celular.images[0].file %>" alt="">
                        <p><%= celular.shortName %> </p>
                        <span>$ <%= toThousand(celular.price) %> </span>
                        <div class="buttons">
                            <a href="/productos/detail/<%= celular.id %>"><button class ="boton" type="button">Detalles</button></a>                                          
                        </div>
                        </a>
                    </article>
                <% }) %>
                <% } else { %>
                    <div class = "mensaje">
                        <h2 class=""> Oops!! ... No hay resultados para la busqueda de "<%= busqueda %>" </h2>
                        <img src="images/celular_llorando.png" alt="">
                    </div>
                    <% } %>
            
            
        </div>
    </section>
</main>

<%- include('./partials/footer') %> 

</body>
</html>