<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title: celular.shortName}) %>

    <body class="detail">

        <%- include('../partials/header') %>

            <main>
                <h1>
                    <%= celular.shortName %>
                </h1>
                <div class="container">
                    <div class="card">
                        <div class="imagenes">
                            <div class="contenedor-img-principal">
                                <img class="principal" id="imgMain" src="/images/equipos/<%= celular.images[0].file %> "
                                    alt="">
                            </div>
                            <div class="miniaturas">

                                <% celular.images.forEach(photo=> { %>
                                    <img src="/images/equipos/<%= photo.file %>" alt=""
                                        onclick="document.getElementById('imgMain').setAttribute('src','/images/equipos/<%=photo.file%>')">
                                    <% }) %>


                            </div>
                        </div>
                        <div class="contenedor">
                            <div class="contenido">

                                <span>$ <%= toThousand(celular.price) %> </span>
                                <div class="cart-button">
                                    <div>
                                        <a href="/cart"><i class="fas fa-shopping-cart"></i>Agregar al carrito</a>
                                    </div>
                                </div>
                                <div class="main-caracteristicas-desktop">
                                    <h3>Caracteristicas principales</h3>
                                    <div class="caracteristicas">
                                        <div>
                                            <i class="fas fa-mobile-alt"></i>
                                            <p>Pantalla: <%= celular.mainFeature.displayP %>
                                            </p>
                                        </div>
                                        <div>
                                            <i class="fas fa-microchip"></i>
                                            <p>procesador: <%= celular.mainFeature.processorP %>
                                            </p>
                                        </div>
                                        <div>
                                            <i class="fas fa-memory"></i>
                                            <p>memoria: <%= celular.mainFeature.memoryP %>
                                            </p>
                                        </div>
                                        <div>
                                            <i class="fas fa-box-open"></i>
                                            <p>almacenamiento: <%= celular.mainFeature.storageP %>
                                            </p>
                                        </div>
                                        <div>
                                            <i class="fas fa-sim-card"></i>
                                            <p>expansión: <%= celular.mainFeature.expansionP %>
                                            </p>
                                        </div>
                                        <div>
                                            <i class="fas fa-camera"></i>
                                            <p>camara: <%= celular.mainFeature.cameraP %>
                                            </p>
                                        </div>
                                        <div>
                                            <i class="fas fa-battery-three-quarters"></i>
                                            <p>bateria: <%= celular.mainFeature.batteryP %>
                                            </p>
                                        </div>
                                        <div>
                                            <i class="fas fa-code"></i>
                                            <p>OS:<%= celular.mainFeature.osP %>
                                            </p>
                                        </div>
                                        <div>
                                            <i class="fas fa-ruler-combined"></i>
                                            <p>Perfil: <%= celular.mainFeature.profileP %>
                                            </p>
                                        </div>
                                        <div>
                                            <i class="fas fa-balance-scale-right"></i>
                                            <p>Peso: <%= celular.mainFeature.weightP %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="fullname">
                                <h4>
                                    <%= celular.longName %>
                                </h4>
                            </div>
                        </div>
                        <h4 class="name-mobile">
                            <%= celular.longName %>
                        </h4>
                    </div>
                    <div class="main-caracteristicas-mobile">
                        <h3>Caracteristicas principales</h3>
                        <div class="caracteristicas">
                            <div>
                                <i class="fas fa-mobile-alt"></i>
                                <p>Pantalla: <%= celular.mainFeature.displayP %>
                                </p>
                            </div>
                            <div>
                                <i class="fas fa-microchip"></i>
                                <p>procesador: <%= celular.mainFeature.processorP %>
                                </p>
                            </div>
                            <div>
                                <i class="fas fa-memory"></i>
                                <p>memoria: <%= celular.mainFeature.memoryP %>
                                </p>
                            </div>
                            <div>
                                <i class="fas fa-box-open"></i>
                                <p>almacenamiento: <%= celular.mainFeature.storageP %>
                                </p>
                            </div>
                            <div>
                                <i class="fas fa-sim-card"></i>
                                <p>expansión: <%= celular.mainFeature.expansionP %>
                                </p>
                            </div>
                            <div>
                                <i class="fas fa-camera"></i>
                                <p>camara: <%= celular.mainFeature.cameraP %>
                                </p>
                            </div>
                            <div>
                                <i class="fas fa-battery-three-quarters"></i>
                                <p>bateria: <%= celular.mainFeature.batteryP %>
                                </p>
                            </div>
                            <div>
                                <i class="fas fa-code"></i>
                                <p>OS:<%= celular.mainFeature.osP %>
                                </p>
                            </div>
                            <div>
                                <i class="fas fa-ruler-combined"></i>
                                <p>Perfil: <%= celular.mainFeature.profileP %>
                                </p>
                            </div>
                            <div>
                                <i class="fas fa-balance-scale-right"></i>
                                <p>Peso: <%= celular.mainFeature.weightP %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mas">
                    <h3 id="mas">ver más <i class="fas fa-chevron-down"></i></h3>
                    <div id="mas-datos" class="mas-datos ver-mas">
                        <h4 class="title">REDES</h4>
                        <div class="dato">
                            <span class="titulo">2G</span>
                            <span class="info">
                                <%= celular.net.twog %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">3G</span>
                            <span class="info">
                                <%= celular.net.threeg %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">4G</span>
                            <span class="info">
                                <%= celular.net.fourg %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">5G</span>
                            <span class="info">
                                <%= celular.net.fiveg %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">GPRS</span>
                            <span class="info">
                                <%= celular.net.gprs %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">EDGE</span>
                            <span class="info">
                                <%= celular.edge %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">SIM</span>
                            <span class="info">
                                <%= celular.net.sim %>
                            </span>
                        </div>


                        <h4 class="title">DISPLAY</h4>
                        <div class="dato">
                            <span class="titulo">Tipo</span>
                            <span class="info">
                                <%= celular.display.displayType %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">Tamaño</span>
                            <span class="info">
                                <%= celular.display.displaySize %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">Resolución</span>
                            <span class="info">
                                <%= celular.display.displayResolution %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">Densidad</span>
                            <span class="info">
                                <%= celular.display.density %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">Protección</span>
                            <span class="info">
                                <%= celular.display.protection %>
                            </span>
                        </div>

                        <h4 class="title">CÁMARA</h4>
                        <div class="dato">
                            <span class="titulo">Principal</span>
                            <span class="info">
                                <%= celular.camera.mainCamera %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">Video</span>
                            <span class="info">
                                <%= celular.camera.videoCamera %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">Frontal</span>
                            <span class="info">
                                <%= celular.camera.frontCamera %>
                            </span>
                        </div>
                        <h4 class="title">CONECTIVIDAD</h4>
                        <div class="dato">
                            <span class="titulo">Wi-Fi</span>
                            <span class="info">
                                <%= celular.connectivity.wifi %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">Bluetooth</span>
                            <span class="info">
                                <%= celular.connectivity.bluetooth %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">GPS</span>
                            <span class="info">
                                <%= celular.connectivity.gps %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">USB</span>
                            <span class="info">
                                <%= celular.connectivity.usb %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">NFC</span>
                            <span class="info">
                                <%= celular.connectivity.nfc %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">Puerto infrarrojo</span>
                            <span class="info">
                                <%= celular.connectivity.infrared %>
                            </span>
                        </div>
                        <h4 class="title">BATERIA</h4>

                        <div class="dato">
                            <span class="titulo">Carga rápida</span>
                            <span class="info">
                                <%= celular.battery.fastCharge %>
                            </span>
                        </div>
                        <div class="dato">
                            <span class="titulo">Carga inalámbrica</span>
                            <span class="info">
                                <%= celular.battery.wirelessCharge %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mas">
            <h3 id = "mas"></h3>
            <div id = "mas-datos" class="mas-datos ver-mas">
                <h4 class="title">REDES</h4>
                <div class="dato">
                    <span class="titulo">2G</span>
                    <span class="info"><%= celular.net.twog %> </span>
                </div>
                <div class="dato">
                    <span class="titulo">3G</span>
                    <span class="info"><%= celular.net.threeg %></span>
                </div>
                <div class="dato">
                    <span class="titulo">4G</span>
                    <span class="info"><%= celular.net.fourg %></span>
                </div>
                <div class="dato">
                    <span class="titulo">5G</span>
                    <span class="info"><%= celular.net.fiveg %></span>
                </div>
                <div class="dato">
                    <span class="titulo">GPRS</span>
                    <span class="info"><%= celular.net.gprs %></span>
                </div>
                <div class="dato">
                    <span class="titulo">EDGE</span>
                    <span class="info"><%= celular.edge %></span>
                </div>
                <div class="dato">
                    <span class="titulo">SIM</span>
                    <span class="info"><%= celular.net.sim %></span>
                </div>
               
               
                <h4 class="title">DISPLAY</h4>
                <div class="dato">
                    <span class="titulo">Tipo</span>
                    <span class="info"><%= celular.display.displayType %></span>
                </div>
                <div class="dato">
                    <span class="titulo">Tamaño</span>
                    <span class="info"><%= celular.display.displaySize %></span>
                </div>
                <div class="dato">
                    <span class="titulo">Resolución</span>
                    <span class="info"><%= celular.display.displayResolution %></span>
                </div>
                <div class="dato">
                    <span class="titulo">Densidad</span>
                    <span class="info"><%= celular.display.density %></span>
                </div>
                <div class="dato">
                    <span class="titulo">Protección</span>
                    <span class="info"><%= celular.display.protection %></span>
                </div>
               
                <h4 class="title">CÁMARA</h4>
                <div class="dato">
                    <span class="titulo">Principal</span>
                    <span class="info">	<%= celular.camera.mainCamera %></span>
                </div>
                <div class="dato">
                    <span class="titulo">Video</span>
                    <span class="info"><%= celular.camera.videoCamera %></span>
                </div>
                <div class="dato">
                    <span class="titulo">Frontal</span>
                    <span class="info"><%= celular.camera.frontCamera %></span>
                </div>
                <h4 class="title">CONECTIVIDAD</h4>
                <div class="dato">
                    <span class="titulo">Wi-Fi</span>
                    <span class="info"><%= celular.connectivity.wifi %></span>
                </div>
                <div class="dato">
                    <span class="titulo">Bluetooth</span>
                    <span class="info"><%= celular.connectivity.bluetooth %></span>
                </div>
                <div class="dato">
                    <span class="titulo">GPS</span>
                    <span class="info"><%= celular.connectivity.gps %></span>
                </div>
                <div class="dato">
                    <span class="titulo">USB</span>
                    <span class="info"><%= celular.connectivity.usb %></span>
                </div>
                <div class="dato">
                    <span class="titulo">NFC</span>
                    <span class="info"><%= celular.connectivity.nfc %></span>
                </div>
                <div class="dato">
                    <span class="titulo">Puerto infrarrojo</span>
                    <span class="info"><%= celular.connectivity.infrared %></span>
                </div>
                <h4 class="title">BATERIA</h4>
                
                <div class="dato">
                    <span class="titulo">Carga rápida</span>
                    <span class="info"><%= celular.battery.fastCharge %></span>
                </div>
                <div class="dato">
                    <span class="titulo">Carga inalámbrica</span>
                    <span class="info"><%= celular.battery.wirelessCharge
                        %></span>
                </div>
            </div>
        </div>
        <h4>tambien te pueden interesar</h4>
        <div class="carrousel">
            <div class="glider-contain">
                <div class="glider">
                    <% celulares.forEach(item => { %>
                        <% if (item.brand === celular.brand && item.shortName != celular.shortName) { %>
                            <article class="card-carrousel">
                                <a href="/productos/detail/<%= item.id %>">
                                    <img src="/images/equipos/<%= item.images[0].file %>" alt="">
                                    <p class=""><%= item.shortName %> </p>
                                    <span>$ <%= toThousand(item.price) %> </span>
                                </a>
                            </article>
                        <% } %>
                        
                    <% }) %>
                </div>
            </main>
            <%- include('../partials/footer') %>
                <%- include('../partials/scripts') %>
                    <script src="/javascripts/carrousel.js"></script>
                    <script src="/javascripts/productDetail.js"></script>
    </body>

</html>