<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title: 'PRODUCTOS' }) %>

    <body class="productos">

        <%- include('../partials/header') %>

            <main>
                <section class="seccion-boton-filtrar">
                    <div class="boton-filtrar">
                        <a href="" id="filterButton"><button type="button">FILTRAR <i class="fas fa-filter"></i></button></a>
                    </div>
                </section>
                <section class="filtrar ocultar" id="filterContent">

                    <p>ORDENAR POR:</p>
                    <div class="boton-ordenar">
                        <select name="ordenar-por" id="ordenar-por">
                            <option value="Id" selected hidden>Default</option>
                            <option value="shortName">Producto</option>
                            <option value="categoryId">Categoria</option>
                            <option value="price">Precio</option>
                        </select>
                    </div>
                    <p class="inicio-filtros">FILTRAR POR:</p>
                    <div class="forms">
                        <p>CATEGORIA</p>
                        <div class="categoria filtros">
                            <select name="category" id="select-category">
                                <option value="" selected>Todas las categorias</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.name %>" ><%= category.name %> </option>
                                <% }) %>
                            </select>

                        </div>
                        <p>MARCA</p>
                        <div class="marca filtros">
                            <select name="brand" id="select-brand">
                            <option value="" selected>Todas las marcas</option>
                                <option value="xiaomi" >xiaomi</option>
                                <option value="samsung" >samsung</option>
                                <option value="motorola" >motorola</option>
                                <option value="iphone" >iphone</option>
                                <option value="lg" >lg</option>
                            </select>
                            

                        </div>
                        <p>COLOR</p>
                        <div class="color filtros">
                            <select name="colour" id="select-colour">
                                <option value="" selected>Todas los colores</option>
                                <% colours.forEach(colour => { %>
                                    <option value="<%= colour.name %>" ><%= colour.name %></option>
                                <% }) %>
                                </select>
                        </div>
                        <p>PRECIO</p>
                        <div class="filtros">
                           <select name="price" id="select-price">
                            <option value="0" selected>Todas los precios</option>
                                <option value="1">Menos de $50.000</option>
                                <option value="2">Entre $50.000 y $100.000</option>
                                <option value="3">Entre $100.000 y $200.000</option>
                                <option value="4">Mas de $200.000</option>
                            </select>
                        </div>
                    </div>
                </section>
                <section class="articulos">
                    <div class="productos-listado" id="contenido">

                    </div>
                    <div class="boton-ver-mas">
                        <a href=""><button type="button">VER MÁS</button></a>
                    </div>
                </section>


            </main>

            <%- include('../partials/footer') %>

                <script src="/javascripts/productos.js"></script>


    </body>

</html>