<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', {title: 'PRODUCTOS'})  %>

<body class="productos">
    
    <%- include('../partials/header')  %>

    <main>
        <section class="seccion-boton-filtrar">
            <div class="boton-filtrar">
                <a href="/productos"><button type="button">FILTRAR <i class="fas fa-filter"></i></button></a>
            </div>
        </section>
        <section class="filtrar">
            <p>ORDENAR POR:</p>
            <div class="boton-ordenar">
                <select name="ordenar-por" id="ordenar-por">
                    <option value="" selected hidden>MÁS RELEVANTES</option>
                    <option value="1">MENOR PRECIO</option>
                    <option value="2">MAYOR PRECIO</option>
                    <option value="3">MÁS RELEVANTES</option>
                </select>
            </div>
            <p class="inicio-filtros">FILTRAR POR:</p>
            <div class="forms">
                <p>CATEGORIA</p>
                <div class="categoria filtros">
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Novedades</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Ofertas</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Los más comprados</label>
                    </div>
                </div>
                <p>MARCA</p>
                <div class="marca filtros">
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Motorola</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Samsung</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Xiaomi</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">iPhone</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">LG</label>
                    </div>
                </div>
                <p>COLOR</p>
                <div class="color filtros">
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Negro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Plateado</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Blanco</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Azul</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Rosa</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Celeste</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Purpura</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Rojo</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Dorado</label>
                    </div>
                </div>
                <p>CAMARA</p>
                <div class="camara filtros">
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Hasta 2 MP</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">2 MP a 5 MP</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">5 MP a 10 MP</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">10 MP a 15 MP</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">15 MP a 20 MP</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">20 MP a 25 MP</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Más de 25 MP</label>
                    </div>
                </div>
                <p>MEMORIA INTERNA</p>
                <div class="memoria-interna filtros">
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Menos de 32 GB</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">32 GB a 64 GB</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">64 GB a 128 GB</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">128 GB o más</label>
                    </div>
                </div>
                <p>MEMORIA RAM</p>
                <div class="memoria-ram filtros">
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Menos de 2 GB</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">2 GB a 3 GB</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">3 GB a 4 GB</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">4 GB o más</label>
                    </div>
                </div>
                <p>PANTALLA</p>
                <div class="pantalla filtros">
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">5" o menos</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">5" a 6"</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Más de 6"</label>
                    </div>
                </div>
                <p>PRECIO</p>
                <div class="precio filtros">
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">Menos de $21999</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">$21999 a $40202</label>
                    </div>
                    <div>
                        <input type="checkbox" name="" id="">
                        <label for="">$40202 o más</label>
                    </div>
                </div>
            </div>
        </section>
        <section class="articulos">
            <div class="productos-listado">
                <% celulares.forEach(celular => { %>
                    <article class="">
                        <a href="/productos/detail/<%= celular.id %>">
                            <img src="/images/equipos/<%= celular.imagenFrente %>" alt="">
                            <p class=""><%= celular.nombreCorto %> </p>
                            <span>$ <%= toThousand(celular.precio) %> </span>
                        </a>
                    </article>
                <% }) %>
                
                
            </div>
            <div class="boton-ver-mas">
                <a href=""><button type="button">VER MÁS</button></a>
            </div>
        </section>


    </main>

    <%- include('../partials/footer')  %> 


</body>

</html>